/* apple-laptop-notebook-notes: */
/* divider: */
border: 8px solid #FFFFFF;
box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
/* button: */
background: #FF6A00;
border-radius: 8px;
/* check out my work: */
font-family: Lato;
font-size: 36px;
color: #FFFFFF;
line-height: 35.4px;
/* Rectangle 1: */
background: #FFFFFF;
/* Oval 1: */
background: #FFFFFF;
box-shadow: inset 0px 1px 8px 0px rgba(0,0,0,0.50);
/* Icon: */
/* icon ring: */
border: 8px solid #FFFFFF;
box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
/* Rectangle 2: */
background: rgba(0,0,0,0.20);
/* hi, i’m dj: */
font-family: Lato;
font-size: 48px;
color: #FF6A00;
line-height: 46.79px;
/* navbar: */
font-family: Lato;
font-size: 28px;
color: #FFFFFF;
line-height: 36.4px;

/* Oval 10: */
background: #7ED321;
border: 0px solid #4A4A4A;
/* Rectangle 8: */
background: #7ED321;
/* startup strategy and: */
font-family: AvenirNext-Regular;
font-size: 16px;
color: #4A4A4A;
line-height: 22px;
/* Rectangle 8: */
background: #7ED321;
/* team leadership: */
font-family: AvenirNext-Regular;
font-size: 16px;
color: #4A4A4A;
line-height: 22px;
/* Rectangle 8: */
background: rgba(125,211,32,0.60);
/* startup finance: */
font-family: AvenirNext-Regular;
font-size: 16px;
color: #4A4A4A;
line-height: 22px;
/* Bitmap: */
background: #4A4A4A;
/* Oval 10: */
background: #50E3C2;
/* developicon: */
background: #4A4A4A;
/* Rectangle 8: */
background: #50E3C2;
/* user interviews: */
font-family: AvenirNext-Regular;
font-size: 16px;
color: #4A4A4A;
line-height: 22px;
/* Rectangle 8: */
background: rgba(79,227,194,0.80);
/* wireframing: */
font-family: AvenirNext-Regular;
font-size: 16px;
color: #4A4A4A;
line-height: 22px;
/* Rectangle 8: */
background: rgba(79,227,194,0.80);
/* interaction design: */
font-family: AvenirNext-Regular;
font-size: 16px;
color: #4A4A4A;
line-height: 22px;
/* Rectangle 8: */
background: #50E3C2;
/* information architec: */
font-family: AvenirNext-Regular;
font-size: 16px;
color: #4A4A4A;
line-height: 22px;
/* Oval 10: */
background: #FFF35D;
/* < / >: */
font-family: AvenirNext-Heavy;
font-size: 18px;
color: #4A4A4A;
line-height: 22px;
/* Rectangle 8: */
background: #FFF35D;
/* machine learning: */
font-family: AvenirNext-Regular;
font-size: 16px;
color: #4A4A4A;
line-height: 22px;
/* Rectangle 8: */
background: rgba(255,243,93,0.70);
/* web prototyping: */
font-family: AvenirNext-Regular;
font-size: 16px;
color: #4A4A4A;
line-height: 22px;
/* skills: */
font-family: AvenirNext-Bold;
font-size: 20px;
color: #000000;
line-height: 36.4px;
/* i was raised in flor: */
font-family: AvenirNext-Regular;
font-size: 14px;
color: #000000;
line-height: 21px;
/* i was raised in flor: */
font-family: AvenirNext-Regular;
font-size: 14px;
color: #000000;
line-height: 21px;
/* i was raised in flor: */
font-family: AvenirNext-Regular;
font-size: 14px;
color: #000000;
line-height: 21px;
/* some unsolicited exp: */
font-family: AvenirNext-Bold;
font-size: 20px;
color: #000000;
line-height: 36.4px;
/* likes: */
font-family: AvenirNext-Bold;
font-size: 20px;
color: #000000;
line-height: 36.4px;
/* photos: */
font-family: AvenirNext-Bold;
font-size: 20px;
color: #000000;
line-height: 36.4px;
/* dislikes: */
font-family: AvenirNext-Bold;
font-size: 20px;
color: #000000;
line-height: 36.4px;
/* Mask: */
background: #F8F8F8;
border: 2px solid #777777;
/* Line: */
border: 2px solid #777777;
/* Line 2: */
border: 2px solid #777777;
/* Mask: */
background: #F8F8F8;
border: 2px solid #777777;
/* Line: */
border: 2px solid #777777;
/* Line 2: */
border: 2px solid #777777;
/* about: */
font-family: HelveticaNeue-Bold;
font-size: 28px;
color: #000000;
line-height: 36.4px;
/* Mask: */
border: 8px solid #FFFFFF;
box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
/* Mask: */
border: 8px solid #FFFFFF;
box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);


/* who i’ve worked for: */
font-family: AvenirNext-Bold;
font-size: 20px;
color: #000000;
line-height: 36.4px;
/* i was raised in flor: */
font-family: AvenirNext-Regular;
font-size: 14px;
color: #000000;
line-height: 21px;
/* what i’ve built rece: */
font-family: AvenirNext-Bold;
font-size: 20px;
color: #000000;
line-height: 36.4px;
/* Rectangle 6: */
background: #FF6A00;
border-radius: 8px;
/* portfolio (pdf): */
font-family: AvenirNext-Bold;
font-size: 20px;
color: #FFFFFF;
line-height: 35.4px;
/* Rectangle 6: */
background: #FF6A00;
border-radius: 8px;
/* resume (pdf): */
font-family: AvenirNext-Bold;
font-size: 20px;
color: #FFFFFF;
line-height: 35.4px;
/* work: */
font-family: HelveticaNeue-Bold;
font-size: 28px;
color: #000000;
line-height: 36.4px;
/* Mask: */
border: 8px solid #FFFFFF;
box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
/* Mask: */
border: 8px solid #FFFFFF;
box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
/* Mask: */
background: #F8F8F8;
border: 2px solid #777777;
/* Upload Image: */
font-family: HelveticaNeue-Bold;
font-size: 14px;
color: #CCCCCC;
line-height: 16.79px;
/* Mask: */
background: #F8F8F8;
border: 2px solid #777777;
/* Upload Image: */
font-family: HelveticaNeue-Bold;
font-size: 14px;
color: #CCCCCC;
line-height: 16.79px;
/* Mask: */
background: #F8F8F8;
border: 2px solid #777777;
/* Upload Image: */
font-family: HelveticaNeue-Bold;
font-size: 14px;
color: #CCCCCC;
line-height: 16.79px;
/* Mask: */
background: #F8F8F8;
border: 2px solid #777777;
/* Upload Image: */
font-family: HelveticaNeue-Bold;
font-size: 14px;
color: #CCCCCC;
line-height: 16.79px;


/* sometimes i use soci: */
font-family: AvenirNext-Bold;
font-size: 20px;
color: #000000;
line-height: 36.4px;
/* read things i blog a: */
font-family: AvenirNext-Bold;
font-size: 20px;
color: #000000;
line-height: 36.4px;
/* Rectangle 6: */
background: #FF6A00;
border-radius: 8px;
/* hire this guy: */
font-family: AvenirNext-Bold;
font-size: 20px;
color: #FFFFFF;
line-height: 35.4px;
/* Rectangle 6: */
background: #FF6A00;
border-radius: 8px;
/* leave a note: */
font-family: AvenirNext-Bold;
font-size: 20px;
color: #FFFFFF;
line-height: 35.4px;
/* (c) dj thompson, 201: */
font-family: AvenirNext-Regular;
font-size: 14px;
color: #000000;
line-height: 21px;
/* contact: */
font-family: HelveticaNeue-Bold;
font-size: 28px;
color: #000000;
line-height: 36.4px;
/* Mask: */
border: 8px solid #FFFFFF;
box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
/* Mask: */
border: 8px solid #FFFFFF;
box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
/* background: */
background-image: linear-gradient(-180deg, #4C66BF 0%, #3D54A7 100%);
border-radius: 2px;
/* Follow: */
font-family: ArialMT;
font-size: 11px;
color: #FFFFFF;
letter-spacing: 0.5px;
line-height: 12px;
/* icon-12x12: */
background: #FFFFFF;
/* background: */
background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, #DFDFDF 100%);
border: 1px solid #CCCCCC;
box-shadow: inset 0px 3px 0px 0px #FFFFFF;
border-radius: 3px;
/* Follow @yext: */
font-family: Helvetica-Bold;
font-size: 11px;
color: #333333;
letter-spacing: 0px;
line-height: 13px;
/* icon: */
background: #1DADEB;
/* background: */
background: #D34134;
background: #2B7AB2;
/* Share: */
font-family: ArialMT;
font-size: 11px;
color: #FFFFFF;
letter-spacing: 0px;
line-height: 12px;
text-shadow: 0px -1px 0px rgba(0,0,0,0.50);
/* divider: */
background: #236292;
/* icon: */
background: #FFFFFF;